body {
  margin: 0px;
  background-image: none;
  position: static;
  left: auto;
  width: auto;
  min-width: 1280px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.form_sketch {
  border-color: transparent;
  background-color: transparent;
}

#base {
  position: static;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
}
